.porject_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    justify-content: space-around;
}

.project_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.project_item:hover{
    background-color: var(--color-primary-variant);
    background: transparent;
}

.project_item-img{
    border-radius: 1.5rem;
    overflow: hidden;
}

.project_item h3{
    margin: 1.2rem 0 2rem;
}

.project_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/******************Media Queries (Media Devices) ******************************/

@media screen and (max-width:1024px) {
    .porject_container{
        grid-template-columns: 0.8fr 0.8fr;
        gap: 1.2rem;
    }
}
/******************Media Queries (Small Devices) ******************************/
@media screen and (max-width:600px) {
    #project{
        width: var(--container-width-outer);
    }
    .porject_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}