.container.acheivements_container{
    width: 55%;  
    
}


/******************Media Queries (Small Devices) ******************************/
@media screen and (max-width:600px) {
    #acheivements{
        width: var(--container-width-outer);
    }
    .container.acheivements_container{
        width: 80%;
    }
}