nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    height: 7vh;
    display: block;
    padding: 0.3rem 0.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
    display: flex;
    border-radius: 1.5rem;
    gap: 1.2rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.5rem;
    display: flex;
    /* color: var(--color-light); */
    font-size: 1.3rem;
    border-radius: 50%;
}

nav a:hover{
    background:rgba(0,0,0,0.3);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}